<!doctype html>
<!-- This file is meant to contain the base wrapper that applies for all content, such as the header, footer, css and js resources. -->
<html>
	<head>
		<!-- TODO: get a favicon to setup. -->
		<!-- TODO: make the title dynamic and appropriate. -->
		<title>HU Webshop Project</title>
		<!-- TODO: add dynamic meta tags for each page. -->
		<link rel="shortcut icon" type="image/png" href="/static/favicon.png">
		<!-- Add Javascript libraries under this heading. -->
		<script src="/static/jquery-3.4.1.min.js"></script>
		<script src="/static/dynamic-elements.js"></script>
		<!-- Add CSS files under this heading. -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
		<link rel="stylesheet" type="text/css" href="/static/stylesheet.css"></style>
	</head>
	<body>
		<!-- TODO: add a logical header here that allows the user to navigate, including the shopping cart. -->
		{% block header %}
		<div id="header">
			{% block sessionbar %}
			<div id="sessionbarbackground">
				<div id="sessionbar-static" class="centerstage textright textwhiteshadow">
					Gebruiker-ID: {{ packet.profile_id }} <a function="show-sessionbar-dynamic" href="#">(Aanpassen)</a>
				</div>
				<div id="sessionbar-dynamic" class="centerstage textright textwhiteshadow" style="display:none;">
					Gebruiker-ID: <input id="profile-id-input" type="text" value="{{ packet.profile_id }}" size="80" />&nbsp;&nbsp;<a href="#" function="change-profile-id" class="hured smallbutton"/>Aanpassen</a>&nbsp;&nbsp;<a function="show-sessionbar-static" href="#">(X)</a>
				</div>
			</div>
			{% endblock %}
			<div id="logobackground">
				<img id="logo" src="/static/hulogo.png" />
				<h1 id="title">HU Webshop</h1>
			</div>
			<div id="topbarbackground">
				<div id="topbar">
					<div id="greeting">Welkom, {{ session.first_name }} {{ session.last_name }}!</div>
				</div>
			</div>
			{% block menu %}
			<div id="menubarbackground">
				<div id="menubar">
					{% for k, v in packet.categoryindex.items() %}
					<div class="menuitem" dropdown="menudropdown-{{ packet.categories_encode[k] }}">	
						<a href="/producten/{{ packet.categories_encode[k] }}">{{ k }}</a>
					</div>
					{% endfor %}
				</div>
			</div>
			<div id="menudropdownbackground">
				{% for k, v in packet.categoryindex.items() %}
				{% if v|length %}
				<div class="menudropdown" id="menudropdown-{{ packet.categories_encode[k] }}">
					<ul>
						{% for k2, v2 in v.items() %}
						<li><a href="/producten/{{ packet.categories_encode[k] }}/{{ packet.categories_encode[k2] }}">{{ k2 }}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			{% endblock %}
		</div>
		{% endblock %}
		{% block oldmenu %}
		<!--
		<ul>
			{% for k, v in packet.categoryindex.items() %}
			<li><a href="producten/{{ packet.categories_encode[k] }}">{{ k }}</a></li>
			{% if v|length %}
				<ul>
					{% for k2, v2 in v.items() %}
					<li><a href="producten/{{ packet.categories_encode[k] }}/{{ packet.categories_encode[k2] }}">{{ k2 }}</a></li>
					{% if v2|length %}
						<ul>
							{% for k3, v3 in v2.items() %}
							<li><a href="producten/{{ packet.categories_encode[k] }}/{{ packet.categories_encode[k2] }}/{{ packet.categories_encode[k3] }}">{{ k3 }}</a></li>
							 Note that, in practice, the data does not contain this level of categories.
							This is only left in as a failsafe.
							{% if v3|length %}
								<ul>
									{% for k4, v4 in v3.items() %}
									<li><a href="producten/{{ packet.categories_encode[k] }}/{{ packet.categories_encode[k2] }}/{{ packet.categories_encode[k3] }}/{{ packet.categories_encode[k4] }}">{{ k4 }}</a></li>
									{% endfor %}
								</ul>
							{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
			{% endfor %}
		</ul>
		-->
		{% endblock %}
		<!-- TODO: extend this content block in subsequent templates. -->
		<div id="content">
			{% block content %}{{ contenttext }}{% endblock %}
			{% block suggestionbox %}
			<div id="suggestionbox">
				<div id="suggestiontext">Suggesties?</div>
			</div>
			{% endblock %}
		</div>
		{% block footer %}
		<div id="footer">
			<div id="bottombarbackground">
				<div id="bottombar"></div>
			</div>
			<br/>
			<div id="credits">&copy; Hogeschool Utrecht, 2019.</div>
		</div>
		{% endblock %}
	</body> 
</html>