{% extends "base.html" %}
{% block content %}
	<h2>Welkom op de homepage van de HU Webshop!</h2>
	<p>Hier kun je een immens aanbod van diverse producten vinden, die meer of minder nuttig zouden kunnen zijn gedurende je academische loopbaan.</p>
	<p>Bezoek ons <a href="/producten">productoverzicht</a> hier!</p>
    <div id="content" class="centerstage">
			{% block contentrec %}{{ contenttext }}{% endblock %}
			{% block suggestionbox %}
			{% if packet.r_products %}
			<h4>{{ packet.r_string }}</h4>
			{% endif %}
			<div id="recommendedproducts">
				{% for product in packet.r_products %}
					<div class="productpageblock hublueborder">
						<a href="/productdetail/{{ product.id }}">
							<div class="productname">{{ product.name }}</div>
							<div class="productprice">{{ product.price }}</div>
							<div class="productdiscount">{{ product.discount }}</div>
						</a>
						<a href="#" function="add-to-shopping-cart" class="recommended-addtocart button hured" productid="{{ product.id }}">In winkelmand</a>
					</div>
				{% endfor %}
			</div>
			{% endblock %}
		</div>
{% endblock %}
