{% extends "base.html" %}
{% block content %}
	<div id="products">
		{% for product in productlist %}
		<div class="productentry">
			<a href="/detail/{{ product.productid }}"><div class="productpagepicture huredborder" style="background-image:url({{ product.img }})"></div></a>
			<div class="productpageinfo">
				<a href="/detail/{{ product.productid }}">{{ product.name }}</a><br/>
				<div class="productprice">{{ product.price }}</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div id="productnavigation" class="huredborder">
		{% if page > 1 %}
		<a href="/producten/{{page - 1}}">&lt;</a> |
		{% endif %}
		{{ countfirst}} - {{ countlast }} van {{ productcount }} | Items per pagina: 
		<select id='pagination-select'>
		{% for pag in session.pagination_counts %}
			<option {% if session.items_per_page == pag %}selected="selected"{% endif %} {% if pag == 0 %}value="0"{% endif %}>
				{% if pag == 0 %}
					Alle
				{% else %}
					{{ pag }}
				{% endif %}
			</option>
		{% endfor %}
		</select>
		{% if moretoshow %}
		| <a href="/producten/{{page + 1}}">&gt;</a>
		{% endif %}
	</div>
{% endblock %}